<ion-header>

</ion-header>
<ion-header>
  <ion-toolbar color="secondary">
    <ion-title color="dark">
      Senac Saúde 🏥
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="../assets/img/saude.jpg" alt="" />
      <ion-card-header>
        <ion-card-title>Bem Vindo, Técnico!</ion-card-title>
        <p>Pronto pra começar ? vamos aprender a utilizar o seu aplicativo.</p>
      </ion-card-header>
      <ion-card-content>
        <p>Pronto pra começar ? vamos aprender a utilizar o seu aplicativo.</p>
      </ion-card-content>
    </ion-card>
   
</ion-content>

