<ion-content padding>
  <ion-tabs>

    <ion-tab-bar slot="bottom" color="secondary">

      <ion-tab-button tab= "home">
        <ion-icon color="dark" name="Home"></ion-icon>
        <ion-label color="dark" >Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab= "cadastro">
          <ion-icon color="dark" name="paper"></ion-icon>
          <ion-label color="dark">Cadastro</ion-label>
        </ion-tab-button>

        <ion-tab-button tab= "consulta">
            <ion-icon color="dark" name="people"></ion-icon>
            <ion-label color="dark">Consulta</ion-label>
          </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
